/*******************************TAG SELECTORS*********************************/
body {
  margin: 0;
  text-align: center;
  background-color: #7d1511;
  background-image: images/AdobeStock_297320017.jpeg;
  color: #ffffff;
font-family: 'Limelight', cursive;
align-content: center;
}

hr {
  border-color: #fff;
  border-style: solid none none;
  border-width: 5px;
  height: 0;
  width: 50%;
}

h1 {
  font-size: 8rem;
font-family: 'Limelight', cursive;
  color: #fff;
6fccdc
}

h2 {
  font-size: 7rem;
font-family: 'Limelight', cursive;
  font-weight: normal;
    color: #fff;

}

h3 {
  font-size: 6rem;
  color: #ffffff;
    color: #fff;

}

h4 {
  font-size: 4rem;
  color: #ffffff;
    color: #fff;

}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
}

table {
  align-items: center;
  cellpadding: 20;
  cellspacing: 10;
   margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}

div{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
    align-items: center;

}



